## Select 심화

오늘은 기본적으로 `select` 를 이용하는 내용이 아닌 조금 더 딥하게 다뤄보겠습니다.

In [2]:
from sqlalchemy import create_engine

engine = create_engine("sqlite+pysqlite:///:memory:", echo=True)

from typing import List
from typing import Optional
from sqlalchemy import ForeignKey
from sqlalchemy import String
from sqlalchemy.orm import DeclarativeBase
from sqlalchemy.orm import Mapped
from sqlalchemy.orm import mapped_column
from sqlalchemy.orm import relationship
from sqlalchemy.orm import Session

class Base(DeclarativeBase):
    """
    DeclarativeBase 를 상속 받은 Base 라는 하위 클래스를 만들고 시작.
    이 Base 에 Mapping 된 클래스들은 database 에서 단일 테이블임.

    `__tablename__` 을 클래스 레벨의 속성으로 지녀야 함.
    """
    pass

class User(Base):
    __tablename__ = "user_account"

    id: Mapped[int] = mapped_column(primary_key=True)
    name: Mapped[str] = mapped_column(String(30))
    fullname: Mapped[Optional[str]]
    addresses: Mapped[List["Address"]] = relationship(
        back_populates="user", cascade="all, delete-orphan"
    )
    def __repr__(self) -> str:
        return f"User(id={self.id!r}, name={self.name!r}, fullname={self.fullname!r})"

class Address(Base):
    __tablename__ = "address"
    id: Mapped[int] = mapped_column(primary_key=True)
    email_address: Mapped[str]
    user_id: Mapped[int] = mapped_column(ForeignKey("user_account.id"))
    user: Mapped["User"] = relationship(back_populates="addresses")
    def __repr__(self) -> str:
        return f"Address(id={self.id!r}, email_address={self.email_address!r})"

Base.metadata.create_all(engine)

2025-04-30 21:51:47,134 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-04-30 21:51:47,135 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("user_account")
2025-04-30 21:51:47,135 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-04-30 21:51:47,136 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("user_account")
2025-04-30 21:51:47,137 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-04-30 21:51:47,138 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("address")
2025-04-30 21:51:47,138 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-04-30 21:51:47,139 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("address")
2025-04-30 21:51:47,139 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-04-30 21:51:47,140 INFO sqlalchemy.engine.Engine
CREATE TABLE user_account (
	id INTEGER NOT NULL,
	name VARCHAR(30) NOT NULL,
	fullname VARCHAR,
	PRIMARY KEY (id)
)


2025-04-30 21:51:47,141 INFO sqlalchemy.engine.Engine [no key 0.00035s] ()
2025-04-30 21:51:47,142 INFO sqlalchemy.engine.Engine
CREATE TABLE address (
	id INTEGER NOT NULL,
	email_address VARCHAR NOT NULL,
	user_id INTEGER NOT NULL,
	PRIMARY KEY (id),
	FOREIGN KEY(user_id) REFERENCES user_account (id)
)


2025-04-30 21:51:47,142 INFO sqlalchemy.engine.Engine [no key 0.00042s] ()
2025-04-30 21:51:47,143 INFO sqlalchemy.engine.Engine COMMIT

In [6]:
from sqlalchemy.orm import Session

def generate_100_users():
    with Session(engine) as session:
        for i in range(100):
            session.add(User(name=f"user{i}", fullname=f"User {i}", addresses=[Address(email_address=f"user{i}@example.com")]))
        session.flush()
        session.commit()

generate_100_users()

2025-04-30 21:53:35,576 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-04-30 21:53:35,578 INFO sqlalchemy.engine.Engine INSERT INTO user_account (name, fullname) VALUES (?, ?) RETURNING id
2025-04-30 21:53:35,579 INFO sqlalchemy.engine.Engine [cached since 9.673s ago (insertmanyvalues) 1/100 (ordered; batch not supported)] ('user0', 'User 0')
2025-04-30 21:53:35,579 INFO sqlalchemy.engine.Engine INSERT INTO user_account (name, fullname) VALUES (?, ?) RETURNING id
2025-04-30 21:53:35,580 INFO sqlalchemy.engine.Engine [insertmanyvalues 2/100 (ordered; batch not supported)] ('user1', 'User 1')
2025-04-30 21:53:35,581 INFO sqlalchemy.engine.Engine INSERT INTO user_account (name, fullname) VALUES (?, ?) RETURNING id
2025-04-30 21:53:35,581 INFO sqlalchemy.engine.Engine [insertmanyvalues 3/100 (ordered; batch not supported)] ('user2', 'User 2')
2025-04-30 21:53:35,582 INFO sqlalchemy.engine.Engine INSERT INTO user_account (name, fullname) VALUES (?, ?) RETURNING id
2025-04-30 21:53:35,582 INFO sqlalchemy.engine.Engine [insertmanyvalues 4/100 (ordered; batch not supported)] ('user3', 'User 3')
2025-04-30 21:53:35,583 INFO sqlalchemy.engine.Engine INSERT INTO user_account (name, fullname) VALUES (?, ?) RETURNING id
2025-04-30 21:53:35,583 INFO sqlalchemy.engine.Engine [insertmanyvalues 5/100 (ordered; batch not supported)] ('user4', 'User 4')
2025-04-30 21:53:35,584 INFO sqlalchemy.engine.Engine INSERT INTO user_account (name, fullname) VALUES (?, ?) RETURNING id
2025-04-30 21:53:35,584 INFO sqlalchemy.engine.Engine [insertmanyvalues 6/100 (ordered; batch not supported)] ('user5', 'User 5')
2025-04-30 21:53:35,585 INFO sqlalchemy.engine.Engine INSERT INTO user_account (name, fullname) VALUES (?, ?) RETURNING id
2025-04-30 21:53:35,585 INFO sqlalchemy.engine.Engine [insertmanyvalues 7/100 (ordered; batch not supported)] ('user6', 'User 6')
2025-04-30 21:53:35,586 INFO sqlalchemy.engine.Engine INSERT INTO user_account (name, fullname) VALUES (?, ?) RETURNING id
2025-04-30 21:53:35,587 INFO sqlalchemy.engine.Engine [insertmanyvalues 8/100 (ordered; batch not supported)] ('user7', 'User 7')
2025-04-30 21:53:35,587 INFO sqlalchemy.engine.Engine INSERT INTO user_account (name, fullname) VALUES (?, ?) RETURNING id
2025-04-30 21:53:35,588 INFO sqlalchemy.engine.Engine [insertmanyvalues 9/100 (ordered; batch not supported)] ('user8', 'User 8')
2025-04-30 21:53:35,589 INFO sqlalchemy.engine.Engine INSERT INTO user_account (name, fullname) VALUES (?, ?) RETURNING id
2025-04-30 21:53:35,589 INFO sqlalchemy.engine.Engine [insertmanyvalues 10/100 (ordered; batch not supported)] ('user9', 'User 9')
2025-04-30 21:53:35,590 INFO sqlalchemy.engine.Engine INSERT INTO user_account (name, fullname) VALUES (?, ?) RETURNING id
2025-04-30 21:53:35,590 INFO sqlalchemy.engine.Engine [insertmanyvalues 11/100 (ordered; batch not supported)] ('user10', 'User 10')
2025-04-30 21:53:35,591 INFO sqlalchemy.engine.Engine INSERT INTO user_account (name, fullname) VALUES (?, ?) RETURNING id
2025-04-30 21:53:35,591 INFO sqlalchemy.engine.Engine [insertmanyvalues 12/100 (ordered; batch not supported)] ('user11', 'User 11')
2025-04-30 21:53:35,592 INFO sqlalchemy.engine.Engine INSERT INTO user_account (name, fullname) VALUES (?, ?) RETURNING id
2025-04-30 21:53:35,593 INFO sqlalchemy.engine.Engine [insertmanyvalues 13/100 (ordered; batch not supported)] ('user12', 'User 12')
2025-04-30 21:53:35,593 INFO sqlalchemy.engine.Engine INSERT INTO user_account (name, fullname) VALUES (?, ?) RETURNING id
2025-04-30 21:53:35,594 INFO sqlalchemy.engine.Engine [insertmanyvalues 14/100 (ordered; batch not supported)] ('user13', 'User 13')
2025-04-30 21:53:35,595 INFO sqlalchemy.engine.Engine INSERT INTO user_account (name, fullname) VALUES (?, ?) RETURNING id
2025-04-30 21:53:35,596 INFO sqlalchemy.engine.Engine [insertmanyvalues 15/100 (ordered; batch not supported)] ('user14', 'User 14')
2025-04-30 21:53:35,596 INFO sqlalchemy.engine.Engine INSERT INTO user_account (name, fullname) VALUES (?, ?) RETURNING id
2025-04-30 21:53:35,597 INFO sqlalchemy.engine.Engine [insertmanyvalues 16/100 (ordered; batch not supported)] ('user15', 'User 15')
2025-04-30 21:53:35,598 INFO sqlalchemy.engine.Engine INSERT INTO user_account (name, fullname) VALUES (?, ?) RETURNING id
2025-04-30 21:53:35,598 INFO sqlalchemy.engine.Engine [insertmanyvalues 17/100 (ordered; batch not supported)] ('user16', 'User 16')
2025-04-30 21:53:35,599 INFO sqlalchemy.engine.Engine INSERT INTO user_account (name, fullname) VALUES (?, ?) RETURNING id
2025-04-30 21:53:35,599 INFO sqlalchemy.engine.Engine [insertmanyvalues 18/100 (ordered; batch not supported)] ('user17', 'User 17')
2025-04-30 21:53:35,600 INFO sqlalchemy.engine.Engine INSERT INTO user_account (name, fullname) VALUES (?, ?) RETURNING id
2025-04-30 21:53:35,600 INFO sqlalchemy.engine.Engine [insertmanyvalues 19/100 (ordered; batch not supported)] ('user18', 'User 18')
2025-04-30 21:53:35,601 INFO sqlalchemy.engine.Engine INSERT INTO user_account (name, fullname) VALUES (?, ?) RETURNING id
2025-04-30 21:53:35,601 INFO sqlalchemy.engine.Engine [insertmanyvalues 20/100 (ordered; batch not supported)] ('user19', 'User 19')
2025-04-30 21:53:35,602 INFO sqlalchemy.engine.Engine INSERT INTO user_account (name, fullname) VALUES (?, ?) RETURNING id
2025-04-30 21:53:35,602 INFO sqlalchemy.engine.Engine [insertmanyvalues 21/100 (ordered; batch not supported)] ('user20', 'User 20')
2025-04-30 21:53:35,603 INFO sqlalchemy.engine.Engine INSERT INTO user_account (name, fullname) VALUES (?, ?) RETURNING id
2025-04-30 21:53:35,604 INFO sqlalchemy.engine.Engine [insertmanyvalues 22/100 (ordered; batch not supported)] ('user21', 'User 21')
2025-04-30 21:53:35,605 INFO sqlalchemy.engine.Engine INSERT INTO user_account (name, fullname) VALUES (?, ?) RETURNING id
2025-04-30 21:53:35,605 INFO sqlalchemy.engine.Engine [insertmanyvalues 23/100 (ordered; batch not supported)] ('user22', 'User 22')
2025-04-30 21:53:35,605 INFO sqlalchemy.engine.Engine INSERT INTO user_account (name, fullname) VALUES (?, ?) RETURNING id
2025-04-30 21:53:35,606 INFO sqlalchemy.engine.Engine [insertmanyvalues 24/100 (ordered; batch not supported)] ('user23', 'User 23')
2025-04-30 21:53:35,606 INFO sqlalchemy.engine.Engine INSERT INTO user_account (name, fullname) VALUES (?, ?) RETURNING id
2025-04-30 21:53:35,607 INFO sqlalchemy.engine.Engine [insertmanyvalues 25/100 (ordered; batch not supported)] ('user24', 'User 24')
2025-04-30 21:53:35,609 INFO sqlalchemy.engine.Engine INSERT INTO user_account (name, fullname) VALUES (?, ?) RETURNING id
2025-04-30 21:53:35,609 INFO sqlalchemy.engine.Engine [insertmanyvalues 26/100 (ordered; batch not supported)] ('user25', 'User 25')
2025-04-30 21:53:35,610 INFO sqlalchemy.engine.Engine INSERT INTO user_account (name, fullname) VALUES (?, ?) RETURNING id
2025-04-30 21:53:35,610 INFO sqlalchemy.engine.Engine [insertmanyvalues 27/100 (ordered; batch not supported)] ('user26', 'User 26')
2025-04-30 21:53:35,611 INFO sqlalchemy.engine.Engine INSERT INTO user_account (name, fullname) VALUES (?, ?) RETURNING id
2025-04-30 21:53:35,612 INFO sqlalchemy.engine.Engine [insertmanyvalues 28/100 (ordered; batch not supported)] ('user27', 'User 27')
2025-04-30 21:53:35,612 INFO sqlalchemy.engine.Engine INSERT INTO user_account (name, fullname) VALUES (?, ?) RETURNING id
2025-04-30 21:53:35,613 INFO sqlalchemy.engine.Engine [insertmanyvalues 29/100 (ordered; batch not supported)] ('user28', 'User 28')
2025-04-30 21:53:35,613 INFO sqlalchemy.engine.Engine INSERT INTO user_account (name, fullname) VALUES (?, ?) RETURNING id
2025-04-30 21:53:35,614 INFO sqlalchemy.engine.Engine [insertmanyvalues 30/100 (ordered; batch not supported)] ('user29', 'User 29')
2025-04-30 21:53:35,614 INFO sqlalchemy.engine.Engine INSERT INTO user_account (name, fullname) VALUES (?, ?) RETURNING id
2025-04-30 21:53:35,615 INFO sqlalchemy.engine.Engine [insertmanyvalues 31/100 (ordered; batch not supported)] ('user30', 'User 30')
2025-04-30 21:53:35,616 INFO sqlalchemy.engine.Engine INSERT INTO user_account (name, fullname) VALUES (?, ?) RETURNING id
2025-04-30 21:53:35,616 INFO sqlalchemy.engine.Engine [insertmanyvalues 32/100 (ordered; batch not supported)] ('user31', 'User 31')
2025-04-30 21:53:35,617 INFO sqlalchemy.engine.Engine INSERT INTO user_account (name, fullname) VALUES (?, ?) RETURNING id
2025-04-30 21:53:35,617 INFO sqlalchemy.engine.Engine [insertmanyvalues 33/100 (ordered; batch not supported)] ('user32', 'User 32')
2025-04-30 21:53:35,618 INFO sqlalchemy.engine.Engine INSERT INTO user_account (name, fullname) VALUES (?, ?) RETURNING id
2025-04-30 21:53:35,618 INFO sqlalchemy.engine.Engine [insertmanyvalues 34/100 (ordered; batch not supported)] ('user33', 'User 33')
2025-04-30 21:53:35,620 INFO sqlalchemy.engine.Engine INSERT INTO user_account (name, fullname) VALUES (?, ?) RETURNING id
2025-04-30 21:53:35,620 INFO sqlalchemy.engine.Engine [insertmanyvalues 35/100 (ordered; batch not supported)] ('user34', 'User 34')
2025-04-30 21:53:35,621 INFO sqlalchemy.engine.Engine INSERT INTO user_account (name, fullname) VALUES (?, ?) RETURNING id
2025-04-30 21:53:35,621 INFO sqlalchemy.engine.Engine [insertmanyvalues 36/100 (ordered; batch not supported)] ('user35', 'User 35')
2025-04-30 21:53:35,622 INFO sqlalchemy.engine.Engine INSERT INTO user_account (name, fullname) VALUES (?, ?) RETURNING id
2025-04-30 21:53:35,622 INFO sqlalchemy.engine.Engine [insertmanyvalues 37/100 (ordered; batch not supported)] ('user36', 'User 36')
2025-04-30 21:53:35,623 INFO sqlalchemy.engine.Engine INSERT INTO user_account (name, fullname) VALUES (?, ?) RETURNING id
2025-04-30 21:53:35,623 INFO sqlalchemy.engine.Engine [insertmanyvalues 38/100 (ordered; batch not supported)] ('user37', 'User 37')
2025-04-30 21:53:35,625 INFO sqlalchemy.engine.Engine INSERT INTO user_account (name, fullname) VALUES (?, ?) RETURNING id
2025-04-30 21:53:35,625 INFO sqlalchemy.engine.Engine [insertmanyvalues 39/100 (ordered; batch not supported)] ('user38', 'User 38')
2025-04-30 21:53:35,626 INFO sqlalchemy.engine.Engine INSERT INTO user_account (name, fullname) VALUES (?, ?) RETURNING id
2025-04-30 21:53:35,626 INFO sqlalchemy.engine.Engine [insertmanyvalues 40/100 (ordered; batch not supported)] ('user39', 'User 39')
2025-04-30 21:53:35,627 INFO sqlalchemy.engine.Engine INSERT INTO user_account (name, fullname) VALUES (?, ?) RETURNING id
2025-04-30 21:53:35,627 INFO sqlalchemy.engine.Engine [insertmanyvalues 41/100 (ordered; batch not supported)] ('user40', 'User 40')
2025-04-30 21:53:35,628 INFO sqlalchemy.engine.Engine INSERT INTO user_account (name, fullname) VALUES (?, ?) RETURNING id
2025-04-30 21:53:35,628 INFO sqlalchemy.engine.Engine [insertmanyvalues 42/100 (ordered; batch not supported)] ('user41', 'User 41')
2025-04-30 21:53:35,630 INFO sqlalchemy.engine.Engine INSERT INTO user_account (name, fullname) VALUES (?, ?) RETURNING id
2025-04-30 21:53:35,630 INFO sqlalchemy.engine.Engine [insertmanyvalues 43/100 (ordered; batch not supported)] ('user42', 'User 42')
2025-04-30 21:53:35,631 INFO sqlalchemy.engine.Engine INSERT INTO user_account (name, fullname) VALUES (?, ?) RETURNING id
2025-04-30 21:53:35,631 INFO sqlalchemy.engine.Engine [insertmanyvalues 44/100 (ordered; batch not supported)] ('user43', 'User 43')
2025-04-30 21:53:35,632 INFO sqlalchemy.engine.Engine INSERT INTO user_account (name, fullname) VALUES (?, ?) RETURNING id
2025-04-30 21:53:35,632 INFO sqlalchemy.engine.Engine [insertmanyvalues 45/100 (ordered; batch not supported)] ('user44', 'User 44')
2025-04-30 21:53:35,633 INFO sqlalchemy.engine.Engine INSERT INTO user_account (name, fullname) VALUES (?, ?) RETURNING id
2025-04-30 21:53:35,633 INFO sqlalchemy.engine.Engine [insertmanyvalues 46/100 (ordered; batch not supported)] ('user45', 'User 45')
2025-04-30 21:53:35,635 INFO sqlalchemy.engine.Engine INSERT INTO user_account (name, fullname) VALUES (?, ?) RETURNING id
2025-04-30 21:53:35,635 INFO sqlalchemy.engine.Engine [insertmanyvalues 47/100 (ordered; batch not supported)] ('user46', 'User 46')
2025-04-30 21:53:35,636 INFO sqlalchemy.engine.Engine INSERT INTO user_account (name, fullname) VALUES (?, ?) RETURNING id
2025-04-30 21:53:35,637 INFO sqlalchemy.engine.Engine [insertmanyvalues 48/100 (ordered; batch not supported)] ('user47', 'User 47')
2025-04-30 21:53:35,637 INFO sqlalchemy.engine.Engine INSERT INTO user_account (name, fullname) VALUES (?, ?) RETURNING id
2025-04-30 21:53:35,638 INFO sqlalchemy.engine.Engine [insertmanyvalues 49/100 (ordered; batch not supported)] ('user48', 'User 48')
2025-04-30 21:53:35,639 INFO sqlalchemy.engine.Engine INSERT INTO user_account (name, fullname) VALUES (?, ?) RETURNING id
2025-04-30 21:53:35,639 INFO sqlalchemy.engine.Engine [insertmanyvalues 50/100 (ordered; batch not supported)] ('user49', 'User 49')
2025-04-30 21:53:35,640 INFO sqlalchemy.engine.Engine INSERT INTO user_account (name, fullname) VALUES (?, ?) RETURNING id
2025-04-30 21:53:35,640 INFO sqlalchemy.engine.Engine [insertmanyvalues 51/100 (ordered; batch not supported)] ('user50', 'User 50')
2025-04-30 21:53:35,641 INFO sqlalchemy.engine.Engine INSERT INTO user_account (name, fullname) VALUES (?, ?) RETURNING id
2025-04-30 21:53:35,641 INFO sqlalchemy.engine.Engine [insertmanyvalues 52/100 (ordered; batch not supported)] ('user51', 'User 51')
2025-04-30 21:53:35,642 INFO sqlalchemy.engine.Engine INSERT INTO user_account (name, fullname) VALUES (?, ?) RETURNING id
2025-04-30 21:53:35,643 INFO sqlalchemy.engine.Engine [insertmanyvalues 53/100 (ordered; batch not supported)] ('user52', 'User 52')
2025-04-30 21:53:35,643 INFO sqlalchemy.engine.Engine INSERT INTO user_account (name, fullname) VALUES (?, ?) RETURNING id
2025-04-30 21:53:35,644 INFO sqlalchemy.engine.Engine [insertmanyvalues 54/100 (ordered; batch not supported)] ('user53', 'User 53')
2025-04-30 21:53:35,644 INFO sqlalchemy.engine.Engine INSERT INTO user_account (name, fullname) VALUES (?, ?) RETURNING id
2025-04-30 21:53:35,644 INFO sqlalchemy.engine.Engine [insertmanyvalues 55/100 (ordered; batch not supported)] ('user54', 'User 54')
2025-04-30 21:53:35,646 INFO sqlalchemy.engine.Engine INSERT INTO user_account (name, fullname) VALUES (?, ?) RETURNING id
2025-04-30 21:53:35,646 INFO sqlalchemy.engine.Engine [insertmanyvalues 56/100 (ordered; batch not supported)] ('user55', 'User 55')
2025-04-30 21:53:35,647 INFO sqlalchemy.engine.Engine INSERT INTO user_account (name, fullname) VALUES (?, ?) RETURNING id
2025-04-30 21:53:35,648 INFO sqlalchemy.engine.Engine [insertmanyvalues 57/100 (ordered; batch not supported)] ('user56', 'User 56')
2025-04-30 21:53:35,648 INFO sqlalchemy.engine.Engine INSERT INTO user_account (name, fullname) VALUES (?, ?) RETURNING id
2025-04-30 21:53:35,649 INFO sqlalchemy.engine.Engine [insertmanyvalues 58/100 (ordered; batch not supported)] ('user57', 'User 57')
2025-04-30 21:53:35,649 INFO sqlalchemy.engine.Engine INSERT INTO user_account (name, fullname) VALUES (?, ?) RETURNING id
2025-04-30 21:53:35,650 INFO sqlalchemy.engine.Engine [insertmanyvalues 59/100 (ordered; batch not supported)] ('user58', 'User 58')
2025-04-30 21:53:35,651 INFO sqlalchemy.engine.Engine INSERT INTO user_account (name, fullname) VALUES (?, ?) RETURNING id
2025-04-30 21:53:35,651 INFO sqlalchemy.engine.Engine [insertmanyvalues 60/100 (ordered; batch not supported)] ('user59', 'User 59')
2025-04-30 21:53:35,652 INFO sqlalchemy.engine.Engine INSERT INTO user_account (name, fullname) VALUES (?, ?) RETURNING id
2025-04-30 21:53:35,652 INFO sqlalchemy.engine.Engine [insertmanyvalues 61/100 (ordered; batch not supported)] ('user60', 'User 60')
2025-04-30 21:53:35,652 INFO sqlalchemy.engine.Engine INSERT INTO user_account (name, fullname) VALUES (?, ?) RETURNING id
2025-04-30 21:53:35,653 INFO sqlalchemy.engine.Engine [insertmanyvalues 62/100 (ordered; batch not supported)] ('user61', 'User 61')
2025-04-30 21:53:35,653 INFO sqlalchemy.engine.Engine INSERT INTO user_account (name, fullname) VALUES (?, ?) RETURNING id
2025-04-30 21:53:35,654 INFO sqlalchemy.engine.Engine [insertmanyvalues 63/100 (ordered; batch not supported)] ('user62', 'User 62')
2025-04-30 21:53:35,655 INFO sqlalchemy.engine.Engine INSERT INTO user_account (name, fullname) VALUES (?, ?) RETURNING id
2025-04-30 21:53:35,656 INFO sqlalchemy.engine.Engine [insertmanyvalues 64/100 (ordered; batch not supported)] ('user63', 'User 63')
2025-04-30 21:53:35,657 INFO sqlalchemy.engine.Engine INSERT INTO user_account (name, fullname) VALUES (?, ?) RETURNING id
2025-04-30 21:53:35,657 INFO sqlalchemy.engine.Engine [insertmanyvalues 65/100 (ordered; batch not supported)] ('user64', 'User 64')
2025-04-30 21:53:35,657 INFO sqlalchemy.engine.Engine INSERT INTO user_account (name, fullname) VALUES (?, ?) RETURNING id
2025-04-30 21:53:35,658 INFO sqlalchemy.engine.Engine [insertmanyvalues 66/100 (ordered; batch not supported)] ('user65', 'User 65')
2025-04-30 21:53:35,659 INFO sqlalchemy.engine.Engine INSERT INTO user_account (name, fullname) VALUES (?, ?) RETURNING id
2025-04-30 21:53:35,659 INFO sqlalchemy.engine.Engine [insertmanyvalues 67/100 (ordered; batch not supported)] ('user66', 'User 66')
2025-04-30 21:53:35,660 INFO sqlalchemy.engine.Engine INSERT INTO user_account (name, fullname) VALUES (?, ?) RETURNING id
2025-04-30 21:53:35,660 INFO sqlalchemy.engine.Engine [insertmanyvalues 68/100 (ordered; batch not supported)] ('user67', 'User 67')
2025-04-30 21:53:35,661 INFO sqlalchemy.engine.Engine INSERT INTO user_account (name, fullname) VALUES (?, ?) RETURNING id
2025-04-30 21:53:35,662 INFO sqlalchemy.engine.Engine [insertmanyvalues 69/100 (ordered; batch not supported)] ('user68', 'User 68')
2025-04-30 21:53:35,662 INFO sqlalchemy.engine.Engine INSERT INTO user_account (name, fullname) VALUES (?, ?) RETURNING id
2025-04-30 21:53:35,663 INFO sqlalchemy.engine.Engine [insertmanyvalues 70/100 (ordered; batch not supported)] ('user69', 'User 69')
2025-04-30 21:53:35,664 INFO sqlalchemy.engine.Engine INSERT INTO user_account (name, fullname) VALUES (?, ?) RETURNING id
2025-04-30 21:53:35,665 INFO sqlalchemy.engine.Engine [insertmanyvalues 71/100 (ordered; batch not supported)] ('user70', 'User 70')
2025-04-30 21:53:35,665 INFO sqlalchemy.engine.Engine INSERT INTO user_account (name, fullname) VALUES (?, ?) RETURNING id
2025-04-30 21:53:35,665 INFO sqlalchemy.engine.Engine [insertmanyvalues 72/100 (ordered; batch not supported)] ('user71', 'User 71')
2025-04-30 21:53:35,666 INFO sqlalchemy.engine.Engine INSERT INTO user_account (name, fullname) VALUES (?, ?) RETURNING id
2025-04-30 21:53:35,666 INFO sqlalchemy.engine.Engine [insertmanyvalues 73/100 (ordered; batch not supported)] ('user72', 'User 72')
2025-04-30 21:53:35,667 INFO sqlalchemy.engine.Engine INSERT INTO user_account (name, fullname) VALUES (?, ?) RETURNING id
2025-04-30 21:53:35,668 INFO sqlalchemy.engine.Engine [insertmanyvalues 74/100 (ordered; batch not supported)] ('user73', 'User 73')
2025-04-30 21:53:35,669 INFO sqlalchemy.engine.Engine INSERT INTO user_account (name, fullname) VALUES (?, ?) RETURNING id
2025-04-30 21:53:35,670 INFO sqlalchemy.engine.Engine [insertmanyvalues 75/100 (ordered; batch not supported)] ('user74', 'User 74')
2025-04-30 21:53:35,670 INFO sqlalchemy.engine.Engine INSERT INTO user_account (name, fullname) VALUES (?, ?) RETURNING id
2025-04-30 21:53:35,671 INFO sqlalchemy.engine.Engine [insertmanyvalues 76/100 (ordered; batch not supported)] ('user75', 'User 75')
2025-04-30 21:53:35,671 INFO sqlalchemy.engine.Engine INSERT INTO user_account (name, fullname) VALUES (?, ?) RETURNING id
2025-04-30 21:53:35,672 INFO sqlalchemy.engine.Engine [insertmanyvalues 77/100 (ordered; batch not supported)] ('user76', 'User 76')
2025-04-30 21:53:35,672 INFO sqlalchemy.engine.Engine INSERT INTO user_account (name, fullname) VALUES (?, ?) RETURNING id

## Result 와 Row

SQLAlchemy 의 공식문서를 읽어보면 Session.execute() 는 2.0 버전에서 ORM 에서 statement 를 실행시키기 위해 알아두어야 할 중요할점이라고 적어두었는데요. 문서를 읽어보면 `Session.execute()` 에서는 `Result` 오브젝트를 반환한다고 적혀있습니다. 중요한 만큼 `Result` 에 대해서도 알아봐야 할거 같은데요. 과연 `Result` 객체는 어떤 역할을 할까요?

In [27]:
from sqlalchemy import select

with Session(engine) as session:
    stmt = select(User)
    users = session.execute(stmt)
    print(users) # sqlalchemy.engine.result.ChunkedIteratorResult
    print(type(users)) # class 'sqlalchemy.engine.result.ChunkedIteratorResult'

2025-04-30 22:29:18,758 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-04-30 22:29:18,760 INFO sqlalchemy.engine.Engine SELECT user_account.id, user_account.name, user_account.fullname
FROM user_account
2025-04-30 22:29:18,761 INFO sqlalchemy.engine.Engine [cached since 1981s ago] ()
<sqlalchemy.engine.result.ChunkedIteratorResult object at 0x7f7fa723bd10>
<class 'sqlalchemy.engine.result.ChunkedIteratorResult'>
2025-04-30 22:29:18,762 INFO sqlalchemy.engine.Engine ROLLBACK

실제로 위 코드를 실행해보니 `ChunkedIteratorResult` 타입의 객체를 반환합니다. 이 객체는 무엇일까요? 공식문서에서는 아래와 같이 설명하고 있습니다.
사실 `Result` 자체는 쿼리 수행으로 얻어지는 추상적인 표현입니다. 정확히 보기 위해 실제 코드를 잠시 가져와 보겠습니다.

```python
class Result(_WithKeys, ResultInternal[Row[Unpack[_Ts]]]):
    """Represent a set of database results.

    .. versionadded:: 1.4  The :class:`_engine.Result` object provides a
       completely updated usage model and calling facade for SQLAlchemy
       Core and SQLAlchemy ORM.   In Core, it forms the basis of the
       :class:`_engine.CursorResult` object which replaces the previous
       :class:`_engine.ResultProxy` interface.   When using the ORM, a
       higher level object called :class:`_engine.ChunkedIteratorResult`
       is normally used.

    .. note:: In SQLAlchemy 1.4 and above, this object is
       used for ORM results returned by :meth:`_orm.Session.execute`, which can
       yield instances of ORM mapped objects either individually or within
       tuple-like rows. Note that the :class:`_engine.Result` object does not
       deduplicate instances or rows automatically as is the case with the
       legacy :class:`_orm.Query` object. For in-Python de-duplication of
       instances or rows, use the :meth:`_engine.Result.unique` modifier
       method.

    .. seealso::

        :ref:`tutorial_fetching_rows` - in the :doc:`/tutorial/index`

    """

    __slots__ = ("_metadata", "__dict__")

    _row_logging_fn: Optional[
        Callable[[Row[Unpack[TupleAny]]], Row[Unpack[TupleAny]]]
    ] = None

    _source_supports_scalars: bool = False

    _yield_per: Optional[int] = None

    _attributes: util.immutabledict[Any, Any] = util.immutabledict()

    def __init__(self, cursor_metadata: ResultMetaData):
        self._metadata = cursor_metadata

    def __enter__(self) -> Self:
        return self

    def __exit__(self, type_: Any, value: Any, traceback: Any) -> None:
        self.close()

    def close(self) -> None:
        """close this :class:`_engine.Result`.

        The behavior of this method is implementation specific, and is
        not implemented by default.    The method should generally end
        the resources in use by the result object and also cause any
        subsequent iteration or row fetching to raise
        :class:`.ResourceClosedError`.

        .. versionadded:: 1.4.27 - ``.close()`` was previously not generally
           available for all :class:`_engine.Result` classes, instead only
           being available on the :class:`_engine.CursorResult` returned for
           Core statement executions. As most other result objects, namely the
           ones used by the ORM, are proxying a :class:`_engine.CursorResult`
           in any case, this allows the underlying cursor result to be closed
           from the outside facade for the case when the ORM query is using
           the ``yield_per`` execution option where it does not immediately
           exhaust and autoclose the database cursor.

        """
        self._soft_close(hard=True)

    @property
    def _soft_closed(self) -> bool:
        raise NotImplementedError()

    @property
    def closed(self) -> bool:
        """return ``True`` if this :class:`_engine.Result` reports .closed

        .. versionadded:: 1.4.43

        """
        raise NotImplementedError()
```

In [17]:
from sqlalchemy import select

with Session(engine) as session:
    stmt = select(User.name, User.fullname)
    users = session.execute(stmt).all()
    print(type(users)) # list
    print(type(users[0])) # 공식문서에서는 named_tuple 이라고 표현하지만, functional 하게만 tuple 처럼 런타임에 동작하고 실상 타입은 Row 임

2025-04-30 22:07:32,147 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-04-30 22:07:32,149 INFO sqlalchemy.engine.Engine SELECT user_account.name, user_account.fullname
FROM user_account
2025-04-30 22:07:32,149 INFO sqlalchemy.engine.Engine [cached since 112.2s ago] ()
<class 'list'>
<class 'sqlalchemy.engine.row.Row'>
2025-04-30 22:07:32,152 INFO sqlalchemy.engine.Engine ROLLBACK

In [24]:
from sqlalchemy import select

with Session(engine) as session:
    stmt = select(User.name, User.fullname).where(User.name == "user1")
    users = session.execute(stmt).tuples().all()
    print(type(users)) # list
    print(type(users[0]))

2025-04-30 22:09:40,325 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-04-30 22:09:40,327 INFO sqlalchemy.engine.Engine SELECT user_account.name, user_account.fullname
FROM user_account
WHERE user_account.name = ?
2025-04-30 22:09:40,327 INFO sqlalchemy.engine.Engine [cached since 74.31s ago] ('user1',)
<class 'list'>
<class 'sqlalchemy.engine.row.Row'>
2025-04-30 22:09:40,330 INFO sqlalchemy.engine.Engine ROLLBACK